<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.commonframework" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        >
        <provider
            android:name=".baselibrary.network.httpcache.internal.data.HttpCacheContentProvider"
            android:authorities="${applicationId}.httpcache.provider"
            android:exported="false" />
        <activity
            android:name=".baselibrary.network.httpcache.internal.ui.MainActivity"
            android:label="@string/httpCacheName"
            android:launchMode="singleTask"
            android:taskAffinity="girnarsoft.autofin.task"
            android:theme="@style/HttpCache.Theme" />

        <activity android:name=".baselibrary.network.httpcache.internal.ui.TransactionActivity"
            android:parentActivityName=".baselibrary.network.httpcache.internal.ui.MainActivity"
            android:theme="@style/HttpCache.Theme" />

        <service
            android:name=".baselibrary.network.httpcache.internal.support.ClearTransactionsService"
            android:exported="false" />
    </application>

</manifest>
